body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dacbcb;
    color: #333;
}
.Span{
    color: #f39c12;;
}

.container {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    height: 300px;
    display: flex;
    text-align: center;
    text-wrap: wrap;
    padding: 100px 100px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.header .profile img {
    width: 400px;
    height: 400px;
    padding-right: 10px;
}

.header .intro {
    margin-top: 20px;
}

.header .intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.header .intro h2 {
    font-size: 24px;
    color: #f39c12;
    margin-bottom: 20px;
}

.header .intro p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.header .intro .btn {
    display: inline-block;
    background-color: #f39c12;
    color: #080707;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.services-section {
    text-align: center;
    padding: 50px 0;
    background-color: #e0dddd;
}

.services-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.services-section p {
    padding-top: 10px;
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service-item h3 {
    font-size: 24px;
    color: #f39c12;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 14px;
    color: #666;
}
.order-now{
    color: #f39c12;
    text-decoration: solid;
    font-weight: bold;
}